*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
}
body{
    background-color: #eee !important;
}
nav {
   background: linear-gradient(to right, #16bffd, #cb3066);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 15%;
}
nav .links{
    display: flex;
}
nav h4 a{
    font-size: 30px ;
    font-weight: 700;
    margin-right: 20px;
    color: #000;
    text-decoration: none;
}
nav .icon i{
   font-size: 30px;
   cursor: pointer;
}
nav .icon span{
    background-color: #16bffd;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    margin-left: 0px;
    top: 15px;
    left: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
nav .icon a{
   font-size:24px;
   font-weight: 500;
   color: #000;
   text-decoration: none;
   margin: 0px 20px;
}
.listItems{
    width: 300px;
    background-color: #eee;
    position: absolute;
    top: 86px;
    left: 70%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px #666666;
    padding: 10px;
    display: none;
}
.listItems .item {
    width: 100%;
    height: max-content;
    background-color: rgba(102, 102, 102, 0.4);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.listItems .item img{
    width: 55px;
    height: 55px;
}
.listItems .item h4{
    font-size: 18px;
}
.listItems .item button{
    padding: 1px 4px ;
}
.carts .container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4 , 24.5%);
    gap: 1%;
}
.carts .container .cart {
    background: rgb(29, 169, 220);
    height: max-content;
    text-align: center;
    padding: 20px 10px;
    line-height: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px #666666;
}
.carts .container .cart img{
    width: 80%;
    height: 140px;
}
.carts .container .cart h4{
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}
.carts .container .cart button{
    width: 100%;
}
@media(max-width : 900px){
    nav {
       display: block;
       align-items: center;
    }
    nav .icon{
        margin-top: 20px;
    }
    .listItems{
        top: 140px;
        left: 10%;
    }
    .carts .container{
        width: 90%;
        display: block;
    }
    .carts .container .cart {
        margin-bottom: 20px ;
    }

}

/***********************************containerShopping***********************************/
.containerShopping{
  margin: auto;
  width: 70%;
}
.cartShoppingItems{
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 47%);
    column-gap: 6%;
    margin-top: 20px;
    text-align: center;
}
.containerShopping .empty{
    font-size: 80px;
    font-weight: 700;
    position: absolute;
    left: 29%;
    top: 40%;
    opacity: 0.2;
}
.cartShoppingItems .item{
    width: 100%;
    height: 200px;
    background-color: #16bffd;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px #666666;
    margin-bottom: 20px;
}
.cartShoppingItems .item img{
    width: 30%;
    height: 80%;
}
.cartShoppingItems .ShoppingBtns{
    margin-left: 130px;
}
.cartShoppingItems .ShoppingBtns button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    display: block;
    border: none;
    background-color: rgba(0, 0, 0 , 0.3);
    box-shadow: 0px 0px 5px 0px #666666;
}
.cartShoppingItems .ShoppingBtns span{
    font-size: 20px;
}
@media(max-width : 900px){
    .containerShopping{
        width: 90%;
    }
    .cartShoppingItems{
        display: block;
    }
    .cartShoppingItems .ShoppingBtns{
        margin-left: 40px;
    }
}

/*************************************registerPage**************************************/

.register{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, rgb(22, 191, 253), rgb(203, 48, 102));
    display: flex;
    justify-content: center;
    align-items: center;
}
.register .container{
    width: 25%;
    height: max-content;
    text-align: center;
    display: block;
    padding: 50px 30px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid #fff;
}
.register h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}
.register .inpt{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 25px;
    outline: none;
    background-color:transparent;
    color: #fff;
}
.register .inpt::placeholder{
    color: #eee;
}

@media(max-width : 900px){
    .register .container{
        width: 90%;
    }
}